/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/migrations/

/vendor/
/var/
/config/reference.php
/public/bundles/
/node_modules/

/public/uploads/**/*
!/public/uploads/**/
!/public/uploads/**/.gitkeep

/phpunit.xml
/.phpunit.result.cache
/coverage/

/.idea/
/.vscode/
/.fleet/
*.code-workspace
.DS_Store
Thumbs.db

*.log
*.sql
*.sqlite
*.sqlite3
*.tar
*.tar.gz
*.zip
